.DS_Store
src/data/spain-latest.osm.bz2
src/spain-latest.osm
src/osmconvert
src/osmfilter
src/madriles.o5m
src/osmconver
src/madriles.osm
src/spain-latest.osm.bz2
src/madrid.osm
src/madrid.db
src/filtered.osm
src/madrid.db
src/cmadrid.osm
src/madrid.db
