<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Ayuda | TapasTop</title>
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body>
		<div class="logo">
			<img th:src="@{/img/logo-no-background.png}" />
		</div>
		<div class="centered-container">
			<div class="styled-container">
				<h1>Ayuda de TapasTop</h1>
				<hr />
				<p>La pantalla de inicio contiene las siguientes funciones:</p>
				<p>Añadir plato: Permite añadir un plato degustado en un local.</p>
				<p>Modificar usuario: Permite modificar cualquier dato del perfil del usuario activo, o su contraseña.</p>
				<p>Ayuda: Muestra esta página.</p>
				<p>Valorar plato: Permite valorar del 1 al 5 un plato existente.</p>
			</div>
		</div>
	</body>
</html>
